.chat-main
  .chat-main__group-info
    .group-box
      .group-box__current-group テックエキスパート71期
      .group-box__member-box
        %ul.group-box__member-box__member 
          Member:
          %li.group-box__member-box__member__list くろちゃん
          %li.group-box__member-box__member__list しろちゃん
    .edit-btn
      = link_to "#", class: "btn" do
        .btn
          %p.btn__name Edit

  .chat-main__message-list
    .messages
      = render @messages

  .chat-main__message-form
    = form_for [@group, @message],html: {class: "input-box"} do |f|
      = f.text_field :content, class: "input-box__text", placeholder: 'type a message'
      = f.label :image, class: "input-box__image" do
        = icon('fas', 'image', class: "icon")
        = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"

-#(修正前)
  -#  .chat-main__message-form
  -#   .input-box
  -#     %input{type: "text", class: "input-box__text", placeholder: "type a message"}
  -#     %label{class: "input-box__image"}
  -#       = icon('fas', 'image', class: "icon")
  -#       %input{type: "file", class: "input-box__image__file"}
  -#   %form{type: "submit", class: "submit-btn"} Send
